@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --para-color: #939393;
  --main-heading: #ff8b00;
  --white: #ffffff;
  --black: #000000;
  --bg-color: #222;
  --card-BgColor: #333;
  --btn-bg-color: #ff8b00;
  --hover-color: #fd7e14;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--main-heading);
  font-weight: 400;
}

h3,
h4 {
  color: var(--white);
}

a {
  text-decoration: none;
}

p {
  font-size: 1.7rem;
  color: var(--para-color);
}

ul {
  list-style: none;
}

.section {
  padding: 10rem 8rem;
  background-color: var(--bg-color);
  width: 100%;
  min-height: 100vh;
}

.section-heading {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

/************************ Header css start *************************/

header {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  color: var(--main-heading);
  font-size: 2.5rem;
}

header ul {
  display: flex;
  gap: 5rem;
}

.nav-link {
  font-size: large;
  color: var(--white);
  transition: all 0.5s linear;
}

.nav-link:hover {
  color: var(--hover-color);
}

.home-link {
  color: var(--main-heading);
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/hero.webp), no-repeat, center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-heading {
  color: var(--white);
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 500;
  padding: 1rem 25rem;
  text-align: center;
}

.section-pera {
  color: var(--white);
  font-size: 2rem;
  padding: 0 33rem;
  text-align: center;
}

.btn {
  border: 2px solid var(--white);
  border-radius: 5px;
  padding: 1.5rem 2rem;
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.5s linear;
}

.btn-primary {
  background-color: transparent;
  margin-top: 5rem;
}

.btn-primary:hover {
  background-color: var(--white);
  color: var(--black);
}





/****************** service css start ******************************/

.service-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 8rem 5rem;
}

.service-section-top {
  text-align: center;
  width: 50%;
}

.service-para {
  padding: 2rem 0;
  line-height: 3rem;
}

.service-section-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.service-card {
  width: 37rem;
}

.service-card-icon {
  color: var(--main-heading);
  font-size: 2rem;
}

.service-card-heading {
  padding: 1.5rem 0;
  font-size: 2rem;
}

.service-card-para {
  line-height: 2.8rem;
}





/********************** performance css start **********************/

.section-performance {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.performance-img img {
  width: 60rem;
}

.performance-content {
  padding: 4rem 3rem;
}

.performance-content p {
  line-height: 3.5rem;
  padding: 1.5rem 0;
}

.performance-content li {
  list-style-image: url("../assets/check-mark1.webp");
}

.performance-content ul li {
  color: var(--para-color);
  font-size: large;
  padding: 1rem 0;
}





/************************* video css start *************************/

.section-video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-video img {
  position: absolute;
  width: 70.5%;
  height: 73%;
  object-fit: cover;
}

.section-video video {
  width: 80%;
  text-align: center;
}

.section-video .video-icon {
  width: 15rem;
  height: 15rem;
  cursor: pointer;
}





/************************ number css start ************************/

.number-section {
  height: 50vh;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13rem;
}

.num {
  text-align: center;
}

.num h2 {
  font-weight: 500;
  font-size: 6rem;
  margin-bottom: 1rem;
  position: relative;
}

.num h2::after {
  content: "";
  width: 6rem;
  height: 0.5rem;
  background-color: var(--para-color);
  position: absolute;
  top: 94%;
  left: 50%;
  border-radius: 20px;
  transform: translateX(-50%);
}

.num p {
  color: var(--white);
  margin-top: 2rem;
}





/********************* team section css start *********************/

.team-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.team-section-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 70rem;
  text-align-last: center;
}

.team-section-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 28rem;
  gap: 1.5rem;
  background-color: var(--card-BgColor);
  border-radius: 9px;
  transition: all 0.3s linear;
}

.team-card:hover {
  translate: 0 -10px;
}

.team-card img {
  width: 40%;
  border-radius: 80px;
}

.team-links {
  display: flex;
  gap: 0.5rem;
}

.team-icon-span {
  background-color: var(--btn-bg-color);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.5s linear;
}

.team-icon-span:hover {
  background-color: var(--bg-color);
  border-radius: 4px;
  border: 1px solid var(--btn-bg-color);
}
.team-icon-span:hover > .team-icon {
  color: var(--para-color);
}

.team-icon {
  color: var(--white);
  font-size: 1.8rem;
}





/******************** price-section css start  ********************/

.price-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-section-heading {
  width: 70rem;
  margin-bottom: 5rem;
}

.price-section-heading p {
  line-height: 2.8rem;
  margin: 1.5rem 0;
}

.price-section-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: var(--para-color);
}

.price-card {
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--card-BgColor);
  padding: 5rem 3rem;
  border-radius: 5px;
}

.price-card h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.price-div {
  text-align: center !important;
}

.price-card span {
  font-size: 1.5rem;
}

.price-card span span {
  color: var(--main-heading);
  font-size: 4.5rem;
}

.price-card .btn {
  background-color: var(--btn-bg-color) !important;
  border: 0px;
}

.price-card .btn:hover {
  background-color: var(--black) !important;
}

.price-card ul li {
  font-size: 1.6rem;
  padding: 1rem 0;
}





/********************** FAQ-section css start **********************/

.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
}

.question-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10rem;
  row-gap: 5rem;
}

.question-heading {
  font-size: 3rem;
}

.question {
  width: 40%;
}

.question h2 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}





/****************** testimonial-section css start ******************/

.testimonial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
}

.testimonial-card {
  width: 35rem;
  margin: 0 1rem;
}

.card-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card-img {
  width: 7rem;
  border-radius: 50%;
  margin-top: 3rem;
}

.name {
  margin: 2rem 0;
  font-size: medium;
  color: var(--main-heading);
}

.card-para {
  background-color: var(--card-BgColor);
  padding: 3rem 3.5rem;
  border-radius: 10px;
}

.card-para p {
  color: var(--white);
  font-size: 1.7rem;
  font-style: italic;
  text-align: center;
  line-height: 4rem;
}

.swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}





/********************* blog-section css start *********************/

.blog-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-para {
  letter-spacing: 0px;
  text-align: center;
}

.blog-cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.blog-img {
  width: 100%;
  height: 43rem;
  border-radius: 4px;
}

.blog-heading {
  margin: 1rem 0;
}

.blog-time {
  font-size: 1.4rem;
}

.blog-time a {
  color: var(--black);
  border-bottom: 2px dotted var(--para-color);
  margin-left: 0.5rem;
  font-weight: 500;
  transition: all 0.7s linear;
}

.blog-time a:hover {
  color: var(--main-heading);
  border-bottom-color: var(--hover-color);
}

.blog-para {
  margin: 1.5rem 0;
  line-height: 3rem;
}

.blog-btn {
  color: var(--main-heading);
  font-size: 2rem;
}





/******************** contact-section css start ********************/

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-section {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}

.form {
  width: 50%;
}

form input,
textarea {
  background-color: var(--card-BgColor);
  padding: 1.5rem 1.5rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  border-radius: 5px;
}

form:first-child input {
  margin-right: 3rem;
}

form input[type="email"] {
  margin: 2rem 0;
  width: 88%;
}

form textarea {
  width: 88%;
}

.form-btn {
  display: flex;
  justify-content: flex-end;
  width: 88%;
}

.form-btn button {
  padding: 2rem 5.5rem;
}

.form-section .btn {
  background-color: var(--btn-bg-color);
  margin: 2rem 0;
  border: none;
  outline: none;
  transition: all 0.9s linear;
}

.form-section .btn:hover {
  background-color: var(--black);
}

.form-desc {
  width: 40%;
}

.form-desc p {
  padding-right: 7.5rem;
  line-height: 2.9rem;
  text-align: justify;
}





/******************** footer-section css start ********************/

.footer-section {
  background-color: var(--card-BgColor);
  display: flex;
  justify-content: space-between;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.left-footer {
  width: 50%;
  display: flex;
  gap: 7rem;
}

.about {
  width: 60%;
}

.about p {
  color: var(--white);
  line-height: 2.5rem;
}

.footer-links li {
  margin: 1.4rem 0;
}

.footer-links a {
  color: var(--para-color);
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.5s linear;
}

.footer-links a:hover {
  color: var(--white);
}

.right-footer {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.newsletter form {
  display: flex;
  border: 1px solid var(--para-color);
  border-radius: 5px;
}

.newsletter form input {
  margin: 0px !important;
}

.newsletter button {
  border: none;
  outline: none;
  border-radius: 0;
  background-color: var(--btn-bg-color);
}

.footer-icon {
  display: flex;
  gap: 3rem;
}

.footer-icon .team-icon {
  color: var(--para-color);
  transition: all 0.5s linear;
}

.footer-icon .team-icon:hover {
  color: var(--white);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  align-items: center;
}

.last-div {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--para-color);
  padding: 4rem 0;
}

.last-div p {
  color: var(--white);
}

.last-div span {
  color: #dc3545;
  font-size: 1.4rem;
  padding: 0 0.5rem;
}

